* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  color: white;
}

.custom-logo {
  max-width: 180px;
}

.titlePadding {
  padding-top: 200px;
}

.custom-link {
  position: relative;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
}
.custom-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 4px;
  background-color: white;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s linear;
}
.custom-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.custom-menu-btn {
  border: 0;
  box-shadow: none;
}
.custom-menu-btn:focus {
  box-shadow: none;
}

.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.button-redirect {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
  width: 130px;
  height: 50px;
  color: white;
  border: 2px solid white;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  box-shadow: inset 0 0 0 0 white;
  transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
}
.button-redirect:hover {
  box-shadow: inset 0 -50px 0 0 #b9b9b9;
  transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  color: black;
}

.arrowDown {
  width: 90px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.downloadDesc {
  background-color: black;
  height: 85vh;
  padding-top: 240px;
}
.downloadDesc .downloadDescLinks {
  display: flex;
  justify-content: center;
  gap: 15px;
}
@media (max-width: 510px) {
  .downloadDesc .downloadDescLinks {
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }
}

.footer {
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
  color: #555252;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  color: #b9b9b9;
}

.container01 {
  background-image: url(../images/home/01.jpg);
}

.container02 {
  background-image: url(../images/home/03.jpg);
}

.container03 {
  background-image: url(../images/home/02.gif);
}

.container04 {
  background-image: url(../images/home/04.jpg);
}

.container05 {
  background-image: url(../images/eagle-twelve/01.jpg);
}

.container06 {
  background-image: url(../images/eagle-twelve/02.jpg);
}

.container07 {
  background-image: url(../images/eagle-twelve/08.jpg);
}

.carrossel101 {
  background-image: url(../images/eagle-twelve/03.jpg);
}

.carrossel102 {
  background-image: url(../images/eagle-twelve/04.jpg);
}

.carrossel103 {
  background-image: url(../images/eagle-twelve/05.jpg);
}

.carrossel104 {
  background-image: url(../images/eagle-twelve/06.jpg);
}

.carrossel105 {
  background-image: url(../images/eagle-twelve/07.jpg);
}

.numbers {
  background-color: black;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.numbers h1 {
  font-size: 90px;
}
@media (max-width: 540px) {
  .numbers {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .numbers h1 {
    font-size: 50px;
  }
}

.containerEagleDesc {
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
}
.containerEagleDesc .eagleDescParagraph {
  font-size: 22px;
  max-width: 640px;
  line-height: 50px;
}
@media (max-width: 425px) {
  .containerEagleDesc .eagleDescParagraph {
    width: auto;
    font-size: 18px;
    line-height: 30px;
  }
}

.custom-table {
  display: block;
  max-width: 520px;
  height: 100%;
  margin-top: 15%;
  margin-left: 10%;
  font-size: 15px;
  font-weight: 500;
}
.custom-table table {
  width: 100%;
  padding-right: 50px;
}
.custom-table table td {
  margin: 5px 10px;
  padding: 20px 0px;
}

#overViewPosition {
  max-width: 500px;
  margin-left: 13%;
  padding-top: 15%;
}
@media (max-width: 1024px) {
  #overViewPosition {
    display: block;
    padding-top: 20%;
  }
}
@media (max-width: 425px) {
  #overViewPosition {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin-left: auto;
  }
  #overViewPosition .subTitleOverview {
    font-size: 20px;
    font-weight: 300;
  }
  #overViewPosition .titlePverview {
    font-size: 26px;
    font-weight: 700;
  }
}

.carrossel102-content {
  display: block;
  max-width: 520px;
  height: 100%;
  margin-top: 20%;
  margin-left: 10%;
  font-weight: 500;
  font-size: 15px;
}

.carrosselSlide img {
  height: 100vh;
}

.slideDesc {
  text-align: center;
}

.mars01 {
  background-image: url(../images/Others/01.jpg);
}

.mars02 {
  background-image: url(../images/humanFlight/02.jpg);
}

.mars03 {
  background-image: url(../images/humanFlight/03.jpg);
}

.mars04 {
  background-image: url(../images/humanFlight/04.jpg);
}

.mars05 {
  background-image: url(../images/humanFlight/05.jpg);
}

.projDesc {
  background-color: black;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projDesc p {
  width: 800px;
}
@media (max-width: 425px) {
  .projDesc {
    height: 30vh;
  }
  .projDesc p {
    width: auto;
  }
}

.container-right {
  margin-left: 55%;
  padding-right: 15%;
}
@media (max-width: 1024px) {
  .container-right {
    margin-left: 50%;
    padding-top: 20%;
  }
}
@media (max-width: 425px) {
  .container-right {
    margin-left: 20%;
    padding-top: 30%;
  }
}

.container-left {
  margin-left: 5%;
  padding-top: 15%;
}
@media (max-width: 1024px) {
  .container-left {
    margin-left: 5%;
    padding-top: 20%;
  }
}
@media (max-width: 425px) {
  .container-left {
    margin-left: 5%;
    padding-top: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
