.container05 {
    background-image: url(../images/eagle-twelve/01.jpg);
}

.container06 {
    background-image: url(../images/eagle-twelve/02.jpg);
}

.container07 {
    background-image: url(../images/eagle-twelve/08.jpg);
}

.carrossel101 {
    background-image: url(../images/eagle-twelve/03.jpg);
}

.carrossel102 {
    background-image: url(../images/eagle-twelve/04.jpg);
}

.carrossel103 {
    background-image: url(../images/eagle-twelve/05.jpg);
}

.carrossel104 {
    background-image: url(../images/eagle-twelve/06.jpg);
}

.carrossel105 {
    background-image: url(../images/eagle-twelve/07.jpg);
}

.numbers {
    background-color: black;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 90px;
    }

    @media(max-width:540px) {
        margin-top: 50px;
        margin-bottom: 50px;

        h1 {

            font-size: 50px;
        }
    }
}

.containerEagleDesc {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;

    .eagleDescParagraph {
        font-size: 22px;
        max-width: 640px;
        line-height: 50px;

        @media(max-width: 425px) {

            width: auto;
            font-size: 18px;
            line-height: 30px;

        }
    }


}

.custom-table {
    display: block;
    max-width: 520px;
    height: 100%;
    margin-top: 15%;
    margin-left: 10%;
    font-size: 15px;
    font-weight: 500;

    table {
        width: 100%;
        padding-right: 50px;

        td {
            margin: 5px 10px;
            padding: 20px 0px;
        }
    }

}

#overViewPosition {
    max-width: 500px;
    margin-left: 13%;
    padding-top: 15%;

    @media(max-width: 1024px) {
        display: block;
        padding-top: 20%;
    }

    @media(max-width:425px) {
        display: flex;
        height: 90vh;
        flex-direction: column;
        justify-content: center;
        width: auto;
        margin-left: auto;

        .subTitleOverview {
            font-size: 20px;
            font-weight: 300;
        }

        .titlePverview {
            font-size: 26px;
            font-weight: 700;
        }
    }
}

.carrossel102-content {
    display: block;
    max-width: 520px;
    height: 100%;
    margin-top: 20%;
    margin-left: 10%;
    font-weight: 500;
    font-size: 15px;
}

.carrosselSlide {
    img {
        height: 100vh;
    }

}

.slideDesc {
    text-align: center;
}



