.container05{
    background-image: url(../images/eagle-twelve/01.jpg);
}
.container06{
    background-image: url(../images/eagle-twelve/02.jpg);
}

.carrossel101{
    background-image: url(../images/eagle-twelve/03.jpg);
}
.carrossel102{
    background-image: url(../images/eagle-twelve/04.jpg);
}
.carrossel103{
    background-image: url(../images/eagle-twelve/05.jpg);
}
.carrossel104{
    background-image: url(../images/eagle-twelve/06.jpg);
}
.carrossel105{
    background-image: url(../images/eagle-twelve/07.jpg);
}

.container-eagle-desc{
    margin-top: 100px;
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    .eagle-desc-paragraph{
        
        max-width: 640px;
        line-height: 50px;
    }
}

.custom-table{
    display: block;
    max-width: 520px;
    height: 100%;
    margin-top: 15%;
    margin-left: 10%;
    font-size: 15px;
    font-weight: 500; 
    table{
        width: 100%;
        padding-right: 50px;
        td{
            margin: 5px 10px;
            padding: 20px 0px;
        }
    }
         
}
.carrossel102-content{
    display: block;
    max-width: 520px;
    height: 100%;
    margin-top: 20%;
    margin-left: 10%;
    font-weight: 500;
    font-size: 15px;
}

