.mars01{
    background-image: url(../images/Others/01.jpg);
}
.mars02{
    background-image: url(../images/humanFlight/02.jpg);
}
.mars03{
    background-image: url(../images/humanFlight/03.jpg);
}
.mars04{
    background-image: url(../images/humanFlight/04.jpg);
}
.mars05{
    background-image: url(../images/humanFlight/05.jpg);
}

.projDesc{
    background-color: black;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        width: 800px;
    }
    @media(max-width: 425px){
        height: 30vh;
        p{
            width: auto;
        }

    }
}



.container-right{
    margin-left: 55%;
    padding-right: 15%;
    @media(max-width: 1024px){
        margin-left: 50%;
        padding-top: 20%;
    }
    @media (max-width: 425px) {
        margin-left: 20%;
        padding-top: 30%;
    }
}
.container-left{
    margin-left: 5%;
    padding-top: 15%;
    @media(max-width: 1024px){
        margin-left: 5%;
        padding-top: 20%;
    }
    @media (max-width: 425px) {
        margin-left: 5%;
        padding-top: 30%;
    }
}