.mars01{
    background-image: url(../images/Others/01.jpg);
}
.mars02{
    background-image: url(../images/humanFlight/02.jpg);
}
.mars03{
    background-image: url(../images/humanFlight/03.jpg);
}
.mars04{
    background-image: url(../images/humanFlight/04.jpg);
}
.mars05{
    background-image: url(../images/humanFlight/05.jpg);
}

.container-right{
    margin-left: 20%;
    padding-right: 20px;
}
.container-left{
    margin-left: 5%;
    padding-left: 10px;
}